.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffffff;
  margin: auto;
  padding: 80px;
  margin-top: 230px;
  border-radius: 20px;
  overflow-x: hidden;
}

@media (max-width: 1366px) {
  .container {
    width: calc(100% - 80px);
    margin-top: 180px;
  }
}

@media (max-width: 896px) {
  .container {
    width: calc(100% - 80px);
    margin-top: 180px;
  }
}

@media (max-width: 844px) {
  .container {
    width: calc(100% - 80px);
    margin-top: 180px;
  }
}

@media (max-width: 640px) {
  .container {
    width: calc(100% - 32px);
    padding: 40px 16px;
    margin-top: 180px;
  }
}

@media (max-width: 414px) {
  .container {
    width: calc(100% - 32px);
    padding: 40px 16px;
    margin-top: 180px;
  }
}

@media (max-width: 390px) {
  .container {
    width: calc(100% - 32px);
    padding: 40px 16px;
    margin-top: 180px;
  }
}

@media (max-width: 375px) {
  .container {
    width: calc(100% - 32px);
    padding: 40px 16px;
    margin-top: 180px;
  }
}